.p1 {
    background: lightgray;
}

.img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.separate {
    height: 400px;
}

@media (min-width: 768px) {
    .img-lg {
        font-size: 3.5rem;
    }
}